@{
	ViewBag.Title = "Bus Information";
}

<h2>BusInfo</h2>

<div class="row col-md-12">
    <p>You entered postcode @Model.PostCode</p>

    <div class="lead">
        <p class="col-md-6"><ins>@Model.Stop1[0].stationName</ins></p>
        <p class="col-md-6"><ins>@Model.Stop2[0].stationName</ins></p>
    </div>

	<ol class="col-md-6">
		@{
            for (int i = 0; i < Model.Stop1.Count; i++)
            {
				<li>
					<B>Expected arrival:</B>
					@Model.Stop1[i].expectedArrival.ToShortTimeString()<br />
                    <B>Line:</B>
					@Model.Stop1[i].lineName<br />
                    <B>Destination:</B>
                    @Model.Stop1[i].destinationName<br />
                    <B>Towards:</B>
                    @Model.Stop1[i].towards<br /><br />
				</li>
			}
		}
	</ol>

	<ol class="col-md-6">
		@{
            for (int i = 0; i < Model.Stop2.Count; i++)
            {
				<li>
                    <B>Expected arrival:</B>
                    @Model.Stop2[i].expectedArrival.ToShortTimeString()<br />
                    <B>Line:</B>
                    @Model.Stop2[i].lineName<br />
                    <B>Destination:</B>
                    @Model.Stop2[i].destinationName<br />
                    <B>Towards:</B>
                    @Model.Stop2[i].towards<br /><br />
                </li>
			}
		 }
	</ol>

</div>

<script>
    setTimeout(function () {
        window.location.reload(1);
    }, 30000);
</script>